/* styles.css */

body {
    background-color: rgb(45, 44, 56);
    color: #ffffff;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #1e1e1e;
    border: 1px solid #333333;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #333333;
}

th {
    background-color: #444444;
}

tr:nth-child(even) {
    background-color: #2d2d2d;
}

a {
    color: #3763f4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.button {
    --main-focus: #2d8cf0;
    --font-color: #dedede;
    --bg-color-sub: #222;
    --bg-color: #323232;
    --main-color: #dedede;
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    overflow: hidden;
}

.button, .button__icon, .button__text {
    transition: all 0.3s;
}

.button .button__text {
    transform: translateX(25px);
    color: var(--font-color);
    font-weight: 600;
}

.button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: var(--bg-color-sub);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button .svg {
    width: 20px;
    stroke: var(--main-color);
}

.button:hover {
    background: var(--bg-color);
}

.button:hover .button__text {
    color: transparent;
}

.button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
}

.button:active {
    transform: translate(3px, 3px);
    box-shadow: 0px 0px var(--main-color);
}

.update-button {
    width: 120px;
    height: 35px;
    position: relative;
    top: 25px;
    align-self: center;
    outline: none;
    border: none;
    background-color: #4CC2FF;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    color: #33333;
    transition: all 0.2s ease;
    cursor: pointer;
}

.update-button:hover {
    background-color: #49B3EA;
}
